// Non-modular or client styles for the .l-content region.
.slick-prev::before {

    content: "\f137";
    font-family: FontAwesome;
    opacity: 0.5;
    display: block;
    color: #004380;
    font-size: 30px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.slick-prev:hover::before {
    color: white;
    opacity: 1;
   

}
.slick-next::after {
  content: "\f138";
  font-family: FontAwesome;

 opacity: 0.5;
    display: block;
    color: #004380;
    font-size: 30px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.slick-next:hover::after {
  color: white;
 opacity: 1;
}



